<!doctype html>
<html>
<head>
  <style>
  .wrapper{
    text-align: center;
    width: 950px;
    height: auto;
  }
  .fbox{
    margin: 24px;
    width: 900px;
    border: 2px solid black;
  }
  </style>
</head>
<body>
  <div class="wrapper">
  <div class="fbox">
    <form action='/result' method='post'>
      Your Name: <textarea name='customer'></textarea><br>
      Location: <select name='Location'>
         <option>Seattle</option>
         <option>San Jose</option>
       </select><br>
       Favorite Language: <select name='Language'>
          <option>Java</option>
          <option>Python</option>
        </select><br>
       Comment (optional):<br>
       <textarea name="Comment"></textarea>
       <input type="submit" value="submit"></input>
     </form>
   </div>
 </div>
</body>
</html>
