<!DOCTYPE html>
<html>
<head>
	<title>playground</title>
<style>
*{
	margin: 0px;
	padding:0px;
}
.wrapper{
	background-color: white;
	width: 1000px;
	text-align: center;
}
.box {
    background-color: red;
    width:20px;
    height:20px;
    margin: 0px;
    display: inline-block;
}
/* .box2 {
    background-color: black;
    width:20px;
    height:20px;
    margin: 0px;
    display: inline-block;
} */

h1 {
    color: maroon;
    margin-left: 40px;
    text-align: center;
}
</style>
</head>
<body>
	<div class="wrapper">
    <h1>Welcome</h1>
    {% for i in range(number): %}
    	<div class="box";></div>
			<!-- <div class="box2";></div> -->
    {% endfor %}
    </div>
</body>
</html>
