<!DOCTYPE html>
<html>
<head>
	<title>tv</title>
</head>
<body>
	<h1>Add a New Show</h1>
	<form action="/add" method="POST">
		{% csrf_token %}
		<table>
			<tr>
				<td>
					<label>Title</label>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<td>
					<label>Network</label>
					<input type="text" name="network">
				</td>
				<td>
					<label>Release Date</label>
					<input type="date" name="date">
				</td>
			</tr>
			<tr>
				<td>
					<label>Description</label>
					<input type="text-area" name="description">
				</td>
			</tr>
		</table>
		<input type="submit" name="create" value="create">
	</form>
</body>
</html>