<!DOCTYPE html>
<html>
<head>
	<title>friends</title>
<style>
	*{
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
	.wrapper{
		width: 500px;
		text-align: center;
		padding: 25px;
	}
	table{
		border-bottom: solid 1px black;
		width: 450px;
	}

</style>
</head>
<body>
	<div class="wrapper">
		<h1>These are all my friends!</h1>
			<table class="table1">
  				<tr>
   		 			<td>First name:</td>
   		 			<td>Beth</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Last name:</td>
   		 			<td>Sanchez</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Occupation:</td>
   		 			<td>Horse surgeon</td>
 		 		</tr>
			</table>
			<table class="table2">
  				<tr>
   		 			<td>First name:</td>
   		 			<td>Zaphod</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Last name:</td>
   		 			<td>Beeblebrox</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Occupation:</td>
   		 			<td>President of the Galaxy</td>
 		 		</tr>
			</table>
			<table class="table3">
  				<tr>
   		 			<td>First name:</td>
   		 			<td>Ash</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Last name:</td>
   		 			<td>Ketchum</td>
   		 		</tr>
   		 		<tr>
   		 			<td>Occupation:</td>
   		 			<td>Trainer</td>
 		 		</tr>
			</table> 
		<br>
		<h1>Add a friend</h1>
		<form>
			<table>
				<tr>
					<td>First name:</td>
					<td><input type="" name="first name"></td>
				</tr>
				<tr>
					<td>Last name:</td>
					<td><input type="" name="last name"></td>
		   		</tr>
		   		<tr>	
		   			<td>Occupation:</td>
					<td><input type="" name="occupation"></td>
				</tr>
			</table>
			<button>add</button>
		</form>
	</div>
</body>
</html>